@model AtiFlight.Models.FlyRoute

@{
    ViewData["Title"] = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Flight> Flights = new List<Flight>();
    if (ViewBag.FlightList != null)

    {
        Flights = ViewBag.FlightList;
    }

}

<div class="text-center justify-content-center my-4">
    @if (ViewBag.FlightNonExist != null)
    {

        <span>@ViewBag.FlightNonExist</span>



    }
    else
    {
        <div>

            <h2 class="mb-2">@Model.Start.Name - @Model.End.Name</h2>



            
            @if (ViewBag.FlightList == null || ViewBag.FlightList.Count == 0)
            {



                <p>Bu rotaya ait uçuş bulunamadı.</p>






            }
            @foreach (var flight in Flights)
            {
               
                <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                    <form asp-action="Yolcu" asp-route-id="@flight.FlightID" method="get">
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <strong>@Model.Start.Name </strong><br />
                                @flight.Start.ToString("HH:mm")
                            </div>
                            <div>
                                <strong>@Model.End.Name</strong><br />
                                @flight.End.ToString("HH:mm")
                            </div>
                            <div>
                                <strong>Fiyat</strong><br> @flight.Price
                            </div>
                            <div>
                                <input type="hidden" name="FlightID" value="@flight.FlightID" />
                                <button asp-action="Yolcu" class="btn btn-success" type="submit">Satın Al</button>
                            </div>
                        </div>
                    </form>
                </div>
            }



        </div>
    }
</div>
