@model AtiFlight.Models.Ticket

@{
    ViewData["Title"] = "CreateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Flight MyFlight = null;
    List<Seat> seats = new List<Seat>();
    var YolcuId = ViewBag.Yolcu;
    var Yolcu = ViewBag.Yolc;
    if (ViewBag.Flight != null && ViewBag.Seats != null)
    {
        seats = ViewBag.Seats;
        MyFlight = ViewBag.Flight;


    }
}

<div class="row container p-md-4">
    <form asp-action="CreateTicket" method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="FlightID" type="hidden" value="@MyFlight?.FlightID" />
        </div>
        <div class="form-group">
            <input asp-for="YolcuId" type="hidden" value="@YolcuId" />
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <h4>Lütfen koltuk seçimi yapınız</h4>
                <div class="row">
                    @foreach (var item in seats)
                    {
                        if (item.IsFull)
                        {
                            <div class="col-md-6">
                                <input type="radio" class="btn-check" value="@item.SeatID" name="selectedSeat" id="danger-@item.SeatID" autocomplete="off" disabled>
                                <label class="btn btn-danger" for="danger-@item.SeatID">@item.SeatNumber</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <input type="radio" class="btn-check" value="@item.SeatID" name="selectedSeat" id="secondary-@item.SeatID-outlined" autocomplete="off">
                                <label class="btn btn-outline-secondary" for="secondary-@item.SeatID-outlined">@item.SeatNumber</label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <label>
            <strong>İsim:</strong> @Yolcu.AdSoyad
            </label>
            <br />
            <label>
                <strong>Telefon Numarası:</strong> @Yolcu.TelNo
            </label>
            <br />
            <label>
                <strong>Cinsiyet:</strong> 
                
                
                @if (@Yolcu.cinsiyet==1)
                {

                    <span>Erkek</span>
                }
                else
                {
                    <span>Kadın</span>
                }

            </label>

            <div class="form-group">
                <input type="submit" value="Onayla" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
