@model AtiFlight.Models.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex flex-column align-items-center justify-content-center  ">
    <div class="alert alert-success d-flex w-100 align-items-center" role="alert">

        <span class="flex-grow-1 text-center">Tebrikler! Biletinizi başarıyla aldınız.</span>
    </div>
    <div class="custom-card p-4">
        <h4 class="text-center">Bilet Bilgileriniz</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Flight)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Flight.FlightID)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Seat)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Seat.SeatNumber)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.PNR)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.PNR)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.YolcuId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Yolcu.AdSoyad)
            </dd>
        </dl>
    </div>
</div>



