@model IEnumerable<FlyRoute>
@{

    var Flights = ViewBag.Flights as List<Flight>;





}



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Rota ID</th>
            <th>    Nereden</th>


            <th>  Nereye</th>

        </tr>




    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="route-row" data-routeid="@item.FlyRouteID">
                <td>@item.FlyRouteID</td>
                <td>
                    @item.Start?.Name

                </td>

                <td>
                    @item.End?.Name



                </td>

                <td>
                    @if (item.isActive)
                    {

                        <a>Pasif hale getir</a>

                    }
                    else
                    {
                        <a>Aktif hale getir</a>
                    }

                    <a href="/Admin/AddFlight/@item.FlyRouteID">Uçuş Ekle</a>

                </td>
            </tr>

            if (Flights != null)
            {
                @foreach (var flight in Flights)
                { @if (item.FlyRouteID == flight.FlyRouteID)
                    {
                        <tr class="flight-details-container">
                            <td colspan="4">
                                <div class="flight-details row" data-routeid="1">
                                  
                                     <div class="col-2">

                                        @flight.Start.ToString("HH:mm")
                                    </div>
                                     <div class="col-2">

                                        @flight.End.ToString("HH:mm")
                                    </div>
                                  
                                     <div class="col-2">

                                        <p>Fiyat: @flight.Price TRY</p>
                                    </div>
                             
                                </div>
                            </td>
                         
                        </tr>

                    }
                }
            }
        }
    </tbody>








</table>


<script>
    // JavaScript kullanarak tıklama olaylarını dinleme
    const routeRows = document.querySelectorAll('.route-row');

    routeRows.forEach(row => {
        row.addEventListener('click', () => {
            const routeId = row.getAttribute('data-routeid');
            const flightDetails = document.querySelector(`.flight-details[data-routeid="${routeId}"]`);
       
            if (flightDetails.style.display === 'flex') {
                flightDetails.style.display = 'none';
            } else {
                // Tüm detaylar gizlendikten sonra seçilen rotanın detaylarını göster
                const allFlightDetails = document.querySelectorAll('.flight-details');
                allFlightDetails.forEach(detail => {
                    detail.style.display = 'none';
                });
                flightDetails.style.display = 'flex';
            }
        });
    });
</script>